In [2]:
!pip install pandas
!pip install requests
!pip install beautifulsoup4
!pip install lxml
!pip install html5lib
!pip install urllib3==1.26.16

Requirement already satisfied: pandas in /Users/francescaparrella/myenv/lib/python3.8/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/francescaparrella/myenv/lib/python3.8/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/francescaparrella/myenv/lib/python3.8/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /Users/francescaparrella/myenv/lib/python3.8/site-packages (from pandas) (2024.2)
Requirement already satisfied: numpy>=1.20.3 in /Users/francescaparrella/myenv/lib/python3.8/site-packages (from pandas) (1.24.4)
Requirement already satisfied: six>=1.5 in /Users/francescaparrella/myenv/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: requests in /Users/francescaparrella/myenv/lib/python3.8/site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/francescaparrella/myenv/lib/python3.8/site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/francescaparrella/myenv/lib/python3.8/site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/francescaparrella/myenv/lib/python3.8/site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/francescaparrella/myenv/lib/python3.8/site-packages (from requests) (2024.8.30)
Requirement already satisfied: beautifulsoup4 in /Users/francescaparrella/myenv/lib/python3.8/site-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /Users/francescaparrella/myenv/lib/python3.8/site-packages (from beautifulsoup4) (2.6)
Requirement already satisfied: lxml in /Users/francescaparrella/myenv/lib/python3.8/site-packages (5.3.0)
Requirement already satisfied: html5lib in /Users/francescaparrella/myenv/lib/python3.8/site-packages (1.1)
Requirement already satisfied: six>=1.9 in /Users/francescaparrella/myenv/lib/python3.8/site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in /Users/francescaparrella/myenv/lib/python3.8/site-packages (from html5lib) (0.5.1)
Requirement already satisfied: urllib3==1.26.16 in /Users/francescaparrella/myenv/lib/python3.8/site-packages (1.26.16)

In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import lxml

In [22]:
#EXTRACTING AND WEB SCRAPING
#22 NBA per game stats

url = "https://www.basketball-reference.com/leagues/NBA_2023_per_game.html"
html= requests.get(url).text
soup = BeautifulSoup (html, 'html.parser')

In [ ]:
tables = soup.find('table')

for table in tables:
    print(tables.text)

In [ ]:
for row in soup.find('tbody').find_all('tr'):
    col = row.find_all('td')
    print([c.text for c in col])  # Print all columns to see their order

In [16]:
nba_pergame_stats= pd.DataFrame(columns=['Player', 'Age', 'Team', 'Games', 'Rebounds', 'Assists', 'Steals', 'Points per game'])

for row in soup.find('tbody').find_all('tr'):
    col=row.find_all('td')
    if len(col) > 0:
        Player=col[0].text
        Age=col[1].text
        Team=col[2].text
        G=col[4].text
        TRB=col[22].text
        AST=col[23].text
        STL=col[24].text
        PTS=col[28].text
        
        nba_pergame_stats=pd.concat([nba_pergame_stats, pd.DataFrame({'Player':[Player], 'Age':[Age], 'Team':[Team],'Games':[G],'Rebounds':[TRB],'Assists':[AST],'Steals':[STL],'Points per game':[PTS]})],
        ignore_index=True)

print(nba_pergame_stats)

                      Player Age Team Games Rebounds Assists Steals  \
0                Joel Embiid  28  PHI    66     10.2     4.2    1.0
1              Luka DonÄiÄ  23  DAL    66      8.6     8.0    1.4
2             Damian Lillard  32  POR    58      4.8     7.3    0.9
3    Shai Gilgeous-Alexander  24  OKC    68      4.8     5.5    1.6
4      Giannis Antetokounmpo  28  MIL    63     11.8     5.7    0.8
..                       ...  ..  ...   ...      ...     ...    ...
675            Deonte Burton  29  SAC     2      0.0     0.0    0.0
676       Michael Foster Jr.  20  PHI     1      0.0     0.0    0.0
677            Frank Jackson  24  UTA     1      2.0     1.0    0.0
678         Alondes Williams  23  BRK     1      1.0     0.0    0.0
679           League Average

    Points per game
0              33.1
1              32.4
2              32.2
3              31.4
4              31.1
..              ...
675             0.0
676             0.0
677             0.0
678             0.0
679

[680 rows x 8 columns]

In [19]:
df=nba_pergame_stats
print(df)
nba22_pergame_stats=df

                      Player Age Team Games Rebounds Assists Steals  \
0                Joel Embiid  28  PHI    66     10.2     4.2    1.0
1              Luka DonÄiÄ  23  DAL    66      8.6     8.0    1.4
2             Damian Lillard  32  POR    58      4.8     7.3    0.9
3    Shai Gilgeous-Alexander  24  OKC    68      4.8     5.5    1.6
4      Giannis Antetokounmpo  28  MIL    63     11.8     5.7    0.8
..                       ...  ..  ...   ...      ...     ...    ...
675            Deonte Burton  29  SAC     2      0.0     0.0    0.0
676       Michael Foster Jr.  20  PHI     1      0.0     0.0    0.0
677            Frank Jackson  24  UTA     1      2.0     1.0    0.0
678         Alondes Williams  23  BRK     1      1.0     0.0    0.0
679           League Average

    Points per game
0              33.1
1              32.4
2              32.2
3              31.4
4              31.1
..              ...
675             0.0
676             0.0
677             0.0
678             0.0
679

[680 rows x 8 columns]

In [21]:
nba22_pergame_stats.head()

,Player,Age,Team,Games,Rebounds,Assists,Steals,Points per game
0,Joel Embiid,28,PHI,66,10.2,4.2,1.0,33.1
1,Luka DonÄiÄ,23,DAL,66,8.6,8.0,1.4,32.4
2,Damian Lillard,32,POR,58,4.8,7.3,0.9,32.2
3,Shai Gilgeous-Alexander,24,OKC,68,4.8,5.5,1.6,31.4
4,Giannis Antetokounmpo,28,MIL,63,11.8,5.7,0.8,31.1

In [23]:
#23 NBA per game stats
url='https://www.basketball-reference.com/leagues/NBA_2024_per_game.html'
html= requests.get(url).text
soup = BeautifulSoup (html, 'html.parser')

In [24]:
nba23_pergame_stats= pd.DataFrame(columns=['Player', 'Age', 'Team', 'Games', 'Rebounds', 'Assists', 'Steals', 'Points per game'])

for row in soup.find('tbody').find_all('tr'):
    col=row.find_all('td')
    if len(col) > 0:
        Player=col[0].text
        Age=col[1].text
        Team=col[2].text
        G=col[4].text
        TRB=col[22].text
        AST=col[23].text
        STL=col[24].text
        PTS=col[28].text
        
        nba23_pergame_stats=pd.concat([nba23_pergame_stats, pd.DataFrame({'Player':[Player], 'Age':[Age], 'Team':[Team],'Games':[G],'Rebounds':[TRB],'Assists':[AST],'Steals':[STL],'Points per game':[PTS]})],
        ignore_index=True)

print(nba23_pergame_stats)

                      Player Age Team Games Rebounds Assists Steals  \
0                Joel Embiid  29  PHI    39     11.0     5.6    1.2
1              Luka DonÄiÄ  24  DAL    70      9.2     9.8    1.4
2      Giannis Antetokounmpo  29  MIL    73     11.5     6.5    1.2
3    Shai Gilgeous-Alexander  25  OKC    75      5.5     6.2    2.0
4              Jalen Brunson  27  NYK    77      3.6     6.7    0.9
..                       ...  ..  ...   ...      ...     ...    ...
731           Ron Harper Jr.  23  TOR     1      0.0     1.0    0.0
732           Justin Jackson  28  MIN     2      0.0     0.0    0.0
733        Dmytro Skapintsev  25  NYK     2      0.0     0.0    0.0
734            Javonte Smart  24  PHI     1      0.0     0.0    0.0
735           League Average

    Points per game
0              34.7
1              33.9
2              30.4
3              30.1
4              28.7
..              ...
731             0.0
732             0.0
733             0.0
734             0.0
735

[736 rows x 8 columns]

In [25]:
nba23_pergame_stats.head()

,Player,Age,Team,Games,Rebounds,Assists,Steals,Points per game
0,Joel Embiid,29,PHI,39,11.0,5.6,1.2,34.7
1,Luka DonÄiÄ,24,DAL,70,9.2,9.8,1.4,33.9
2,Giannis Antetokounmpo,29,MIL,73,11.5,6.5,1.2,30.4
3,Shai Gilgeous-Alexander,25,OKC,75,5.5,6.2,2.0,30.1
4,Jalen Brunson,27,NYK,77,3.6,6.7,0.9,28.7

In [5]:
#22 NBA advanced stats
url='https://www.basketball-reference.com/leagues/NBA_2023_advanced.html'
html= requests.get(url).text
soup = BeautifulSoup (html, 'html.parser')

In [ ]:
for row in soup.find('tbody').find_all('tr'):
    col = row.find_all('td')
    print([c.text for c in col])  # Print all columns to see their order

In [7]:
nba22_advanced_stats= pd.DataFrame(columns=['Player', 'Age', 'Team', 'Player Efficiency', 'True Shooting', 'Win Shares', 'BPM'])

for row in soup.find('tbody').find_all('tr'):
    col=row.find_all('td')
    if len(col) > 0:
        Player=col[0].text
        Age=col[2].text
        Team=col[3].text
        PER=col[6].text
        TS =col[7].text
        WS=col[21].text
        BPM=col[26].text
        
        nba22_advanced_stats=pd.concat([nba22_advanced_stats, pd.DataFrame({'Player':[Player], 'Age':[Age], 'Team':[Team],'Player Efficiency':[PER],'True Shooting':[TS],'Win Shares':[WS],'BPM':[BPM]})],
        ignore_index=True)

print(nba22_advanced_stats)

               Player Age Team Player Efficiency True Shooting Win Shares  \
0    Precious Achiuwa  23  TOR              15.2          .554        2.2
1        Steven Adams  29  MEM              17.5          .564        3.4
2         Bam Adebayo  25  MIA              20.1          .592        7.4
3        Ochai Agbaji  22  UTA               9.5          .561        1.3
4        Santi Aldama  22  MEM              13.9          .591        4.6
..                ...  ..  ...               ...           ...        ...
674    Thaddeus Young  34  TOR              14.1          .573        1.8
675        Trae Young  24  ATL              22.0          .573        6.7
676    Omer Yurtseven  24  MIA              16.7          .675        0.3
677       Cody Zeller  30  MIA              16.4          .659        0.7
678       Ivica Zubac  25  LAC              16.7          .661        6.7

      BPM
0    -2.3
1     0.6
2     1.5
3    -3.0
4     0.5
..    ...
674   0.1
675   3.3
676  -3.9
677  -2.8
678  -0.9

[679 rows x 7 columns]

In [33]:
nba22_advanced_stats.head()

             Player Age Team Player Efficiency True Shooting Win Shares   BPM
0  Precious Achiuwa   C   23              15.2          .554        2.2  -2.3
1      Steven Adams   C   29              17.5          .564        3.4   0.6
2       Bam Adebayo   C   25              20.1          .592        7.4   1.5
3      Ochai Agbaji  SG   22               9.5          .561        1.3  -3.0
4      Santi Aldama  PF   22              13.9          .591        4.6   0.5

In [8]:
#23 NBA advanced stats
url = "https://www.basketball-reference.com/leagues/NBA_2024_advanced.html"
html= requests.get(url).text
soup = BeautifulSoup (html, 'html.parser')

In [9]:
nba23_advanced_stats= pd.DataFrame(columns=['Player', 'Age', 'Team', 'Player Efficiency', 'True Shooting', 'Win Shares', 'BPM'])

for row in soup.find('tbody').find_all('tr'):
    col=row.find_all('td')
    if len(col) > 0:
        Player=col[0].text
        Age=col[2].text
        Team=col[3].text
        PER=col[6].text
        TS =col[7].text
        WS=col[21].text
        BPM=col[26].text
        
        nba23_advanced_stats=pd.concat([nba23_advanced_stats, pd.DataFrame({'Player':[Player], 'Age':[Age], 'Team':[Team],'Player Efficiency':[PER],'True Shooting':[TS],'Win Shares':[WS],'BPM':[BPM]})],
        ignore_index=True)

print(nba23_advanced_stats)

               Player Age Team Player Efficiency True Shooting Win Shares  \
0    Precious Achiuwa  24  TOT              14.6          .545        3.4
1    Precious Achiuwa  24  TOR              15.0          .512        0.4
2    Precious Achiuwa  24  NYK              14.5          .564        3.0
3         Bam Adebayo  26  MIA              19.8          .576        7.2
4        Ochai Agbaji  23  TOT               7.7          .497        0.1
..                ...  ..  ...               ...           ...        ...
730    Thaddeus Young  35  PHO              15.1          .515        0.3
731        Trae Young  25  ATL              20.3          .585        4.6
732    Omer Yurtseven  25  UTA              15.0          .565        0.7
733       Cody Zeller  31  NOP              12.8          .483        0.8
734       Ivica Zubac  26  LAC              19.3          .671        6.8

      BPM
0    -1.4
1    -1.6
2    -1.4
3     2.4
4    -4.4
..    ...
730  -0.9
731   2.6
732  -3.0
733  -2.6
734   0.8

[735 rows x 7 columns]

In [10]:
nba23_advanced_stats.head()

             Player Age Team Player Efficiency True Shooting Win Shares   BPM
0  Precious Achiuwa  24  TOT              14.6          .545        3.4  -1.4
1  Precious Achiuwa  24  TOR              15.0          .512        0.4  -1.6
2  Precious Achiuwa  24  NYK              14.5          .564        3.0  -1.4
3       Bam Adebayo  26  MIA              19.8          .576        7.2   2.4
4      Ochai Agbaji  23  TOT               7.7          .497        0.1  -4.4

In [47]:
#22 NBA drafts
url = "https://en.wikipedia.org/wiki/2022_NBA_draft#Draft_picks"
html= requests.get(url).text
soup = BeautifulSoup (html, 'html.parser')

In [ ]:
tables = soup.find_all('table')
print(tables)

In [ ]:
table = tables[3]  # Python uses 0-based indexing, so tables[1] is the second table
print(table)

In [63]:
rows = table.find_all('tr')

nba22_draft_picks = pd.DataFrame(columns=['Round', 'Pick', 'Player', 'Nationality'])

for row in rows:
    col = row.find_all('td')
    
    # Check if the first column has data, even if others are missing
    if len(col) > 0:
        Rnd = col[0].text.strip() if len(col) > 0 else None
        Pick = col[1].text.strip() if len(col) > 1 else None
        Player = col[2].text.strip() if len(col) > 2 else None
        Nationality = col[4].text.strip() if len(col) > 3 else None
        
        # Append only if Rnd, Pick, or Player is not None
        if Rnd or Pick or Player:
            nba22_draft_picks = pd.concat([nba22_draft_picks, pd.DataFrame({'Round': [Rnd], 'Pick': [Pick], 'Player': [Player], 'Nationality': [Nationality]})],
                                           ignore_index=True)
        else:
            print("Row skipped:", [cell.text.strip() for cell in col])  # For debugging

print(nba22_draft_picks)

   Round  Pick               Player    Nationality
0      1     1     Paolo Banchero~+  United States
1      1     2        Chet Holmgren  United States
2      1     3     Jabari Smith Jr.  United States
3      1     4        Keegan Murray  United States
4      1     5           Jaden Ivey  United States
5      1     6   Bennedict Mathurin         Canada
6      1     7       Shaedon Sharpe         Canada
7      1     8        Dyson Daniels      Australia
8      1     9        Jeremy Sochan         Poland
9      1    10         Johnny Davis  United States
10     1    11        Ousmane Dieng         France
11     1    12       Jalen Williams  United States
12     1    13          Jalen Duren  United States
13     1    14         Ochai Agbaji  United States
14     1    15        Mark Williams  United States
15     1    16           AJ Griffin  United States
16     1    17           Tari Eason  United States
17     1    18          Dalen Terry  United States
18     1    19         Jake LaRavia  United States
19     1    20       Malaki Branham  United States
20     1    21      Christian Braun  United States
21     1    22       Walker Kessler  United States
22     1    23          David Roddy  United States
23     1    24     MarJon Beauchamp  United States
24     1    25         Blake Wesley  United States
25     1    26    Wendell Moore Jr.  United States
26     1    27         Nikola Jović         Serbia
27     1    28  Patrick Baldwin Jr.  United States
28     1    29  TyTy Washington Jr.  United States
29     1    30        Peyton Watson  United States
30     2    31      Andrew Nembhard         Canada
31     2    32        Caleb Houstan         Canada
32     2    33     Christian Koloko       Cameroon
33     2    34      Jaylin Williams  United States
34     2    35         Max Christie  United States
35     2    36    Gabriele Procida#          Italy
36     2    37          Jaden Hardy  United States
37     2    38     Kennedy Chandler  United States
38     2    39        Khalifa Diop#        Senegal
39     2    40       Bryce McGowens  United States
40     2    41        E. J. Liddell  United States
41     2    42         Trevor Keels  United States
42     2    43       Moussa Diabaté         France
43     2    44         Ryan Rollins  United States
44     2    45          Josh Minott        Jamaica
45     2    46     Ismaël Kamagate#         France
46     2    47   Vince Williams Jr.  United States
47     2    48        Kendall Brown  United States
48     2    49        Isaiah Mobley  United States
49     2    50     Matteo Spagnolo#          Italy
50     2    51        Tyrese Martin  United States
51     2    52      Karlo Matković#        Croatia
52     2    53           JD Davison  United States
53     2  None                 None           None
54     2  None                 None           None
55     2    54       Yannick Nzosa#       DR Congo
56     2    55           Gui Santos         Brazil
57     2    56        Luke Travers#      Australia
58     2    57        Jabari Walker  United States
59     2    58         Hugo Besson#         France

In [65]:
nba22_draft_picks.head()

  Round Pick            Player    Nationality
0     1    1  Paolo Banchero~+  United States
1     1    2     Chet Holmgren  United States
2     1    3  Jabari Smith Jr.  United States
3     1    4     Keegan Murray  United States
4     1    5        Jaden Ivey  United States

In [64]:
#22 NBA rookie's value
url = "https://www.spotrac.com/nba/draft/_/year/2022/sort/pick"
html= requests.get(url).text
soup = BeautifulSoup (html, 'html.parser')

In [ ]:
tables = soup.find_all('table')
print(tables)

In [ ]:
table=tables[0]
print(table)

In [70]:
rows = table.find_all('tr')

nba22_rookie_value = pd.DataFrame(columns=['Player', 'Years Contract', 'Value', 'Average Annual Value'])

for row in rows:
    col = row.find_all('td')
    
    # Check if the first column has data, even if others are missing
    if len(col) > 0:
        Player = col[4].text.strip() if len(col) > 0 else None
        yrs = col[8].text.strip() if len(col) > 0 else None
        value = col[9].text.strip() if len(col) > 2 else None
        aav = col[10].text.strip() if len(col) > 3 else None
        
        # Append only if Rnd, Pick, or Player is not None
        if Rnd or Pick or Player:
            nba22_rookie_value = pd.concat([nba22_rookie_value, pd.DataFrame({'Player': [Player], 'Years Contract': [yrs], 'Value': [value], 'Average Annual Value': [aav]})],
                                           ignore_index=True)
        else:
            print("Row skipped:", [cell.text.strip() for cell in col])  # For debugging

print(nba22_rookie_value)

                  Player                                     Years Contract  \
0         Paolo Banchero                                                  4
1          Chet Holmgren                                                  4
2       Jabari Smith Jr.                                                  4
3          Keegan Murray                                                  4
4             Jaden Ivey                                                  4
5     Bennedict Mathurin                                                  4
6         Shaedon Sharpe                                                  4
7          Dyson Daniels                                                  4
8          Jeremy Sochan                                                  4
9           Johnny Davis                                                  4
10         Ousmane Dieng                                                  4
11        Jalen Williams                                                  4
12           Jalen Duren                                                  4
13          Ochai Agbaji                                                  4
14         Mark Williams                                                  4
15          A.J. Griffin                                                  4
16            Tari Eason                                                  4
17           Dalen Terry                                                  4
18          Jake LaRavia                                                  4
19        Malaki Branham                                                  4
20       Christian Braun                                                  4
21        Walker Kessler                                                  4
22           David Roddy                                                  4
23      MarJon Beauchamp                                                  4
24          Blake Wesley                                                  4
25     Wendell Moore Jr.                                                  4
26          Nikola Jovic                                                  4
27   Patrick Baldwin Jr.                                                  4
28   TyTy Washington Jr.                                                  4
29         Peyton Watson                                                  4
30       Andrew Nembhard                                                  4
31         Caleb Houstan                                                  4
32      Christian Koloko                                                  3
33       Jaylin Williams                                                  4
34          Max Christie                                                  2
35      Gabriele Procida  -                              \n             ...
36           Jaden Hardy                                                  3
37      Kennedy Chandler                                                  4
38          Khalifa Diop  -                              \n             ...
39        Bryce McGowens                                                  1
40          E.J. Liddell                                                  2
41          Trevor Keels                                                  1
42        Moussa Diabate                                                  1
43          Ryan Rollins                                                  3
44           Josh Minott                                                  4
45       Ismael Kamagate  -                              \n             ...
46  Vincent Williams Jr.                                                  2
47         Kendall Brown                                                  1
48         Isaiah Mobley                                                  1
49       Matteo Spagnolo  -                              \n             ...
50               Forfeit                                                  -
51               Forfeit                                                  -
52         Tyrese Martin                                                  2
53        Karlo Matkovic                                                  3
54          J.D. Davison                                                  1
55         Yannick Nzosa  -                              \n             ...
56            Gui Santos                                                  3
57          Luke Travers                                                  1
58         Jabari Walker                                                  3
59           Hugo Besson  -                              \n             ...

          Value Average Annual Value
0   $50,158,769          $12,539,692
1   $44,889,248          $11,222,312
2   $40,330,432          $10,082,608
3   $36,371,093           $9,092,773
4   $32,951,083           $8,237,771
5   $29,936,173           $7,484,043
6   $27,340,903           $6,835,226
7   $25,059,949           $6,264,987
8   $23,046,751           $5,761,688
9   $21,898,509           $5,474,627
10  $21,066,202           $5,266,551
11  $20,256,917           $5,064,229
12  $19,474,944           $4,868,736
13  $18,726,365           $4,681,591
14  $18,001,011           $4,500,253
15  $17,106,137           $4,276,534
16  $16,257,246           $4,064,312
17  $15,451,758           $3,862,940
18  $14,763,367           $3,690,842
19  $14,177,433           $3,544,358
20  $13,769,157           $3,442,289
21  $13,372,418           $3,343,105
22  $12,985,886           $3,246,472
23  $12,609,596           $3,152,399
24  $12,240,728           $3,060,182
25  $11,839,563           $2,959,891
26  $11,501,537           $2,875,384
27  $13,993,276           $3,498,319
28  $11,349,659           $2,837,415
29  $11,267,516           $2,816,879
30   $8,583,166           $2,145,792
31   $8,207,398           $2,051,850
32   $5,239,563           $1,746,521
33   $8,207,398           $2,051,850
34   $2,737,645           $1,368,823
35            -                    -
36   $4,757,344           $1,585,781
37   $7,127,014           $1,781,754
38            -                    -
39            -                    -
40            -                    -
41            -                    -
42            -                    -
43   $4,757,344           $1,585,781
44   $6,944,795           $1,736,199
45            -                    -
46            -                    -
47            -                    -
48            -                    -
49            -                    -
50            -                    -
51            -                    -
52   $2,737,645           $1,368,823
53   $5,408,801           $1,802,934
54            -                    -
55            -                    -
56   $5,143,017           $1,714,339
57            -                    -
58   $4,757,344           $1,585,781
59            -                    -

In [71]:
nba22_rookie_value.head()

             Player Years Contract        Value Average Annual Value
0    Paolo Banchero              4  $50,158,769          $12,539,692
1     Chet Holmgren              4  $44,889,248          $11,222,312
2  Jabari Smith Jr.              4  $40,330,432          $10,082,608
3     Keegan Murray              4  $36,371,093           $9,092,773
4        Jaden Ivey              4  $32,951,083           $8,237,771

In [75]:
#Save df into csv
nba22_pergame_stats.to_csv('nba22_pergame_stats.csv', index=False)
nba23_pergame_stats.to_csv('nba23_pergame_stats.csv', index=False)
nba22_advanced_stats.to_csv('nba22_advanced_stats.csv', index=False)
nba23_advanced_stats.to_csv('nba23_advanced_stats.csv', index=False)
nba22_draft_picks.to_csv('nba22_draft_picks.csv', index=False)
nba22_rookie_value.to_csv('nba22_rookie_value.csv', index=False)
print('did it')

did it

In [11]:
nba22_advanced_stats.to_csv('nba22_advanced_stats_new.csv', index=False)
nba23_advanced_stats.to_csv('nba23_advanced_stats_new.csv', index=False)